/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;
    background-color: hsl(220, 16%, 96%);
}

/* Header styles */
header .navigation {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 20px 0;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid hsl(0, 0%, 100%);
    position: fixed;
    z-index: 1;
}

.navigation .nav-left {
    display: flex;
    align-items: center;
}

.navigation .nav-left .btn-active-toggle {
    display: none;
}

.navigation .nav-left .menu-items {
    display: inline-flex;
    list-style-type: none;
    margin-left: 20%;
}

.navigation .nav-left .menu-items li {
    margin-right: 45px;
}

.navigation .nav-left .menu-items li a {
    color: black;
    font-size: 19px;
    font-weight: 470;
    text-transform: capitalize;
}

header .navigation .nav-right h3 {
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    margin-right: 8.5rem;
    height: 47px;
    background-color: hsl(136, 65%, 51%);
    color: white;
    border-radius: 20px;
    width: 65%;
    padding: 12px 30px;
    position: fixed;
}

.logo-box {
    position: relative;
    top: 6px;
    margin-left: 8rem;
    font-size: 20px;
}

.active:hover {
    color: green !important;
}

/* Dropdown styles */
.dropdown-content {
    position: fixed;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;
    background-color: #f9f9f9;
    transition: left 0.5s ease;
    z-index: 1;
    padding-top: 60px; /* Adjust as needed */
    display: none; /* Hide by default */
}

.dropdown-content a {
    display: block;
    padding: 12px;
    text-align: left;
    color: black;
    text-decoration: none;
}

.dropdown-content.show {
    display: block;
    left: 0;
}


.next-generation {
    display: flex;
    flex-direction: row;
    background-image: url(../images/bg-intro-desktop.svg);
    background-size: 5%;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    background-position: right center;
}

.phone-logo {
    width: 95%;
    height: 100%;
    margin-left: 2rem;
}

.digital-banking {
    margin-top: 12rem;
    margin-left: 4rem;

}

.digital-banking h1 {
    padding-bottom: 2rem;
    flex-wrap: wrap;
    letter-spacing: 6px; 
    font-size: 2.5rem;
    font-weight: bolder;
    
}

.digital-banking p {
    padding-bottom: 2rem;
    letter-spacing: 2px;  
   color: grey; 
   font-weight: 500;

}

.digital-banking h3 {
    background-color: hsl(136, 65%, 51%);
    color: white;
    border-radius: 20px;
    width: 40%;
    padding: 17px 30px 15px 30px;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    font-weight: 700px;
    
}


.eazy-banking {
    text-align: center;
    margin-top: 10rem;
}

.choice-bank p{
    text-align: center;
    padding-top: 5rem;
}


.onboarding {
display: flex;
flex-direction: row;
padding-top: 6rem;
padding-bottom: 2rem;
text-align: center;
column-gap: 3rem;
}

/* Media queries for mobile design */


@media (max-width: 868px) {
    .container {
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        background-color: #f9f9f9;
    }

    .header {
        position: fixed;
    }
    .navigation .nav-left .btn-active-toggle {
        display: block;
    }

    .navigation .nav-left .menu-items {
        display: none;
    }

    .dropdown-content {
        display: block; /* Make it visible for sliding */
    }

    .dropdown-content.show {
        left: 0;
    }

   .btn-active-toggle {
    position: relative;
    right: -17rem;
   }

   .logo-box {
    position: relative;
    right: 7rem;
   }

   .next-generation {
    display: flex;
    flex-direction: column;
    background-image: none;
    height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 6rem;
   }

   .phone-logo {
    width: 93%;
    padding-bottom: 4rem;
    position: relative;
    left: -1rem;
    top: 9rem;
   }

   .digital-banking {
    position: relative;
    top: 12rem;
   }

   .digital-banking h1 {
    position: relative;
    left: -2rem;
   }


   .digital-banking p {
    position: relative;
    left: -2rem;
   }

   .next-generation h3 {
    background-color: hsl(136, 65%, 51%);
    color: white;
    border-radius: 20px;
    width: 100%;
    padding: 17px 30px 15px 30px;
    font-weight: 300;
    font-size: 15px;
    font-weight: 700px;
    position: relative;
    left: -2rem;
    top: 1.5rem;
   }

  .eazy-banking{
    position: relative;
    /* left: -2rem; */
    top: 35rem;
    text-align: center;
  }

  .choice-bank p{
    position: relative;
    top: 38rem;
    text-align: center;
    font-size: 13px;
    color: grey;
    font-weight: 500;
    
  }

.onboarding {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 42rem;
    text-align: center;
    row-gap: 8rem;

}

.online-banking {
}

}

@media (min-width: 375px) and (max-width: 425px) {

    .nav-right h3 {
        display: none;
    }

    .btn-active-toggle {
        position: relative;
        left: 21rem;
    }
   
}

@media (min-width: 280px) and (max-width: 600px) {

    .nav-right h3 {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 868px) {

    .navigation .nav-right{
        display: block;
    }
    .btn-active-toggle {
        position: relative;
        left: 45rem;
    }
    
    .next-generation h3 {
    width: 50%;
    left: 9rem;
    }
}