/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;
    /* background-color: hsl(220, 16%, 96%); */
}

/* Header styles */
header .navigation {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 20px 0;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid hsl(0, 0%, 100%);
    position: fixed;
    z-index: 1;
}

.navigation .nav-left {
    display: flex;
    align-items: center;
}

.navigation .nav-left .btn-active-toggle {
    display: none;
}

.navigation .nav-left .menu-items {
    display: inline-flex;
    list-style-type: none;
    margin-left: 20%;
}

.navigation .nav-left .menu-items li {
    margin-right: 45px;
}

.navigation .nav-left .menu-items li a {
    color: black;
    font-size: 19px;
    font-weight: 470;
    text-transform: capitalize;
}

header .navigation .nav-right h3 {
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    margin-right: 8.5rem;
    height: 47px;
    background-color: rgb(103, 167, 145);
    color: white;
    border-radius: 20px;
    width: 65%;
    padding: 12px 30px;
    display: block;
}

.logo-box {
    position: relative;
    top: 6px;
    margin-left: 8rem;
    font-size: 20px;
}

.active:hover {
    color: green !important;
}

/* Dropdown styles */
.dropdown-content {
    position: fixed;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;
    background-color: #f9f9f9;
    transition: left 0.5s ease;
    z-index: 1;
    padding-top: 60px; /* Adjust as needed */
    display: none; /* Hide by default */
}

.dropdown-content a {
    display: block;
    padding: 12px;
    text-align: left;
    color: black;
    text-decoration: none;
}

.dropdown-content.show {
    display: block;
    left: 0;
}


.next-generation {
    display: flex;
    flex-direction: row;
    background-color: rgb(250, 250, 250);
    background-image: url(../images/bg-intro-desktop.svg);
    background-size: 55%;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    background-position: right center;
}

.phone-logo {
    width: 95%;
    height: 100%;
    margin-left: 2rem;
}

.digital-banking {
    margin-top: 12rem;
    margin-left: 4rem;

}

.digital-banking h1 {
    padding-bottom: 2rem;
    flex-wrap: wrap;
    letter-spacing: 6px; 
    font-size: 2.5rem;
    font-weight: bolder;
    
}

.digital-banking p {
    padding-bottom: 2rem;
    letter-spacing: 2px;  
   color: grey; 
   font-weight: 500;

}

.digital-banking h3 {
    background-color: rgb(103, 167, 145);
    color: white;
    border-radius: 20px;
    width: 40%;
    padding: 17px 30px 15px 30px;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    font-weight: 700px;
    
}


.eazy-bank {
    background-color: rgb(243, 244, 247);
    scroll-behavior: smooth;
    padding-bottom: 5rem;
    
}

.eazy-banking {
    text-align: center;
    padding-top: 10rem;
}

.choice-bank p{
    text-align: center;
    padding-top: 5rem;
}


.onboarding {
display: flex;
flex-direction: row;
padding-top: 6rem;
padding-bottom: 2rem;
text-align: center;
column-gap: 3rem;
}


.online-banking .icon {

    font-size: 90px;
    color: green;
    border: 1px solid #b9bdc6;
    padding: 2rem;
    border-radius: 50%;
    width: calc(100% - 9rem);
    margin-left: 5.2rem;
    margin-bottom: 1r
}

.online-banking h2 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.simple-budgeting h2 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.fast-onboarding h2 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.open-api h2 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.fast-onboarding .icon {

    font-size: 90px;
    color: green;
    border: 1px solid #b9bdc6;
    padding: 2rem;
    border-radius: 50% ;
    width: calc(100% - 9rem);
    margin-left: 5.2rem;
}

.simple-budgeting .icon {

    font-size: 90px;
    color: green;
    border: 1px solid #b9bdc6;
    padding: 2rem;
    border-radius: 50%;
    width: calc(100% - 9rem);
    margin-left: 5.2rem;
}

.open-api .icon {

    font-size: 90px;
    color: green;
    border: 1px solid #b9bdc6;
    padding: 2rem;
    border-radius: 50% 50%;
    width: calc(100% - 9rem);
    margin-left: 5.2rem;

}

.currency {
    background-color: rgb(250, 250, 250);
}


.article {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.image-cards {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    text-align: center;
    padding-bottom: 15rem;
}

.currency-logo {
    width: 75%;
    height: 45%;
    position: relative;
    top: -3rem;
    border-radius: 10px;
}

.money h3 {
    color: gray;
    font-size: 15px;
    position: relative;
    top: -1rem;
}


.money h2 {
    font-size: 24px;
    flex-wrap: wrap;
    position: relative;
}

.money p {
    font-size: 13px;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    color: grey;
    top: 2rem; 
}

.rest-logo {
    width: 75%;
    height: 45%;
    margin-top: -3rem;
    border-radius: 10px;
}

.money-2 h3 {
    color: gray;
    font-size: 15px;
    position: relative;
    top: 2rem;
}


.money-2 h2 {
    font-size: 24px;
    flex-wrap: wrap;
    position: relative;
    top: 3rem;
}

.money-2 p {
    font-size: 13px;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    color: grey;
    top: 5rem; 
}

.plane-logo {
    width: 75%;
    height: 45%;
    margin-top: -3rem;
    border-radius: 10px;
}

.money-3 h3 {
    color: gray;
    font-size: 15px;
    position: relative;
    top: 2rem;
}


.money-3 h2 {
    font-size: 24px;
    flex-wrap: wrap;
    position: relative;
    top: 3rem;
}

.money-3 p {
    font-size: 13px;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    color: grey;
    top: 5rem; 

}

.confetti-logo {
    width: 75%;
    height: 45%;
    margin-top: -3rem;
    border-radius: 10px;
}

.money-4 h3 {
    color: gray;
    font-size: 15px;
    position: relative;
    top: 2rem;
}


.money-4 h2 {
    font-size: 24px;
    flex-wrap: wrap;
    position: relative;
    top: 3rem;
}

.money-4 p {
    font-size: 13px;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    color: grey;
    top: 5rem; 

}
.footer{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 12rem;
    background-color: rgb(45, 49, 77);
   
}

.foot-one {
    padding-top: 13rem;
}

.foot-one .img {
    flex-direction: row;
    display: flex;
    padding-bottom: 2.5rem;
    
}

.foot-one p {
    position: relative;
    right: 6.5rem;
    color: #f9f9f9;
    font-size: 23px;
    top: -0.5rem;
    font-weight: 800;
}

.footer .social-media {
    color: #b9bdc6;
    font-weight: 800;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}

.foot-two {
    display: flex;
    flex-direction: column;
    padding-top: 13rem;
    
}


.foot-two .active {
    position: relative;
    top: -4rem;
    color: #b9bdc6;
    padding-top: 3rem;
    font-weight: 900;

}

.foot-three {
    display: flex;
    flex-direction: column;
    padding-top: 13rem;
    
}


.foot-three .active {
    position: relative;
    top: -4rem;
    color: #b9bdc6;
    padding-top: 3rem;
    font-weight: 900;

}

.foot-four {
    display: flex;
    flex-direction: column;
    padding-top: 13rem;
    
}


.foot-four span {
    color: #b9bdc6;
    padding-top: 6rem;
    font-weight: 900;

}

.foot-four button {

    background-color: rgb(103, 167, 145);
    color: white;
    border-radius: 20px;
    width: 100%;
    margin-top: -1rem;
    padding: 17px 30px 15px 30px;
    font-weight: 300;
    font-size: 15px;
    font-weight: 700px; 
}

/* Media queries for mobile design */

@media (min-width: 280px) and (max-width: 600px) {

    header .navigation .nav-right h3 {
        display: none;
    }

    .btn-active-toggle {
        position: relative;
        left: 18rem;
    }
   
}

@media (min-width: 601px) and (max-width: 868px) {

    .navigation .nav-right{
        display: block;
        position: relative;
        left: -8rem;
    }
    .btn-active-toggle {
        position: relative;
        left: 35rem;
    }
    
    .next-generation h3 {
    width: 50%;
    left: 9rem;
    }

    
}



.fast-onboarding .icon {

    font-size: 120px;
    color: green;
    border: 1px solid #b9bdc6;
    padding: 2rem;
    border-radius: 50% 50%;
    width: calc(100% - 10rem);
    margin-left: 5.2rem;
    margin-bottom: 1r
}



@media (max-width: 868px) {
    .container {
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        background-color: #f9f9f9;
    }
    
    .header {
        position: fixed;
    }
    .navigation .nav-left .btn-active-toggle {
        display: block;
    }
    
    .navigation .nav-left .menu-items {
        display: none;
    }
    
    .dropdown-content {
        display: block; /* Make it visible for sliding */
        background-color: green;
        text-align: center;
        width: 100%;
    }

    .dropdown-content a{
        color: #f9f9f9;
    }
    
    .dropdown-content.show {
        left: 0;
    }
    
    .btn-active-toggle {
        position: relative;
        right: -17rem;
    }
    
    
    .dropdown-content .close-btn {
    position: relative;
    font-size: 20px;
    color: white;
    left: 8rem;
    top: -3rem;

}


   .logo-box {
    position: relative;
    right: 7rem;
   }

   .next-generation {
    display: flex;
    flex-direction: column;
    background-image: none;
    height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 6rem;
   }

   .phone-logo {
    width: 93%;
    padding-bottom: 4rem;
    position: relative;
    left: -1rem;
    top: 9rem;
   }

   .digital-banking {
    position: relative;
    top: 12rem;
   }

   .digital-banking h1 {
    position: relative;
    left: -2rem;
   }


   .digital-banking p {
    position: relative;
    left: -2rem;
   }

   .next-generation h3 {
    background-color: hsl(136, 65%, 51%);
    color: white;
    border-radius: 20px;
    width: 100%;
    padding: 17px 30px 15px 30px;
    font-weight: 300;
    font-size: 15px;
    font-weight: 700px;
    position: relative;
    left: -2rem;
    top: 1.5rem;
   }

  .eazy-banking{
    position: relative;
    /* left: -2rem; */
    top: 35rem;
    text-align: center;
  }

  .choice-bank p{
    position: relative;
    top: 38rem;
    text-align: center;
    font-size: 13px;
    color: grey;
    font-weight: 500;
    
  }

.onboarding {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 42rem;
    text-align: center;
    row-gap: 8rem;

}

.online-banking .icon {
    font-size: 80px;
    color: green;
    border: 1px solid #b9bdc6;
    padding: 2rem;
    border-radius: 50%;
    width: calc(100% - 10rem);
    margin-left: 5.2rem;
    margin-bottom: 1rem;


}

.online-banking h2{
    color: green;
    padding-bottom: 1.5rem;
    font-weight: 800;
}

.simple-budgeting .icon {

    font-size: 80px;
    color: green;
    border: 1px solid #b9bdc6;
    padding: 2rem;
    border-radius: 50% 50%;
    width: calc(100% - 10rem);
    margin-left: 5.2rem;
    margin-bottom: 1r
}

.simple-budgeting h2{
    color: green;
    padding-bottom: 1.5rem;
    font-weight: 800;
    padding-top: 1rem;
}


.fast-onboarding .icon {

    font-size: 80px;
    color: green;
    border: 1px solid #b9bdc6;
    padding: 2rem;
    border-radius: 50% 50%;
    width: calc(100% - 10rem);
    margin-left: 5.2rem;
    margin-bottom: 1r
}

.fast-onboarding h2{
    color: green;
    padding-bottom: 1.5rem;
    font-weight: 800;
    padding-top: 1rem;
}



.open-api .icon {

    font-size: 80px;
    color: green;
    border: 1px solid #b9bdc6;
    padding: 2rem;
    border-radius: 50% 50%;
    width: calc(100% - 10rem);
    margin-left: 5.2rem;
    margin-bottom: 1rem;
}

.open-api h2{
    color: green;
    padding-bottom: 1.5rem;
    font-weight: 800;
}


.article{
    position: relative;
    top: 45rem;
    text-align: center;
    bottom: 4rem;
    /* padding-bottom: 4rem; */
}

.image-cards {
    position: relative;
    top: 46rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 10rem;
    padding-bottom: 10rem;
    /* margin-bottom: 20rem; */
}

.currency-logo {
    width: 80%;
    height: 45%;
    position: relative;
    top: -3rem;
    border-radius: 10px;
}

.money h3 {
    color: gray;
    font-size: 15px;
    position: relative;
    top: -1rem;
}


.money h2 {
    font-size: 24px;
    flex-wrap: wrap;
    position: relative;
}

.money p {
    font-size: 13px;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    color: grey;
    top: 2rem; 
}

.rest-logo {
    width: 80%;
    height: 45%;
   margin-top: -3rem;
    border-radius: 10px;
}

.money-2 h3 {
    color: gray;
    font-size: 15px;
    position: relative;
    top: 2rem;
}


.money-2 h2 {
    font-size: 24px;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.money-2 p {
    font-size: 13px;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    color: grey;
    top: 2rem; 
}


.plane-logo {
    width: 80%;
    height: 45%;
    position: relative;
    top: -1rem;
    border-radius: 10px;
}

.money-3 h3 {
    color: gray;
    font-size: 15px;
    position: relative;
    top: 1.6rem;
}


.money-3 h2 {
    font-size: 24px;
    flex-wrap: wrap;
    position: relative;
}

.money-3 p {
    font-size: 13px;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    color: grey;
    top: 4.3rem; 

}


.money-4 {
    margin-bottom: 39rem;
    /* padding-bottom: 16rem; */
}
.confetti-logo {
    width: 80%;
    height: 45%;
    margin-top: -2rem;
    border-radius: 10px;
    
}

.money-4 h3 {
    color: gray;
    font-size: 15px;
    position: relative;
    top: 2rem;
}


.money-4 h2 {
    font-size: 24px;
    flex-wrap: wrap;
   margin-bottom: 2.5rem;
}

.money-4 p {
    font-size: 13px;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    color: grey;
    top: 2rem; 

}


.footer{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: -15rem;
    padding-top: -19rem;
    
}

.footer .foot-one .social-media{
    display: flex;
    font-size: 16px;
}



.foot-two{
   position: relative;
   top: -7rem;
}


.foot-three{
    position: relative;
    top: -17rem;
}


.foot-four{
    position: relative;
    top: -23rem;
}
}


